<form>
    <p id="pesanerror"></p>
	<div class="input-group form-group" >
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-user"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="firstname" id="txtfirstname"/>
	</div>
    <div class="input-group form-group" >
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-user"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="lastname" id="txtlastname"/>
	</div>
    <div class="input-group form-group" >
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-user"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="email" id="txtemail"/>
	</div>
    <div class="input-group form-group" >
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-key"></i></span>
		</div>
		<input type="password" class="form-control" placeholder="password" id="txtcreatepassword"/>
        <p id="pesanerrorcreatepass"></p>
	</div>
    <div class="input-group form-group" >
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-key"></i></span>
		</div>
		<input type="password" class="form-control" placeholder="password" id="txtconfirmpassword"/>
        <p id="pesanerrorconfirmpass"></p>
	</div>
    <div id="divusername"></div>
	<div class="form-group">
		<button id="btnLogin" type="button" value="Login" class="btn float-right login_btn">Login</button>
	</div>
    <div class="form-group">
		<button id="btnRegister" type="button" value="Register" class="btn float-right login_btn">Register</button>
	</div>
</form>

@*Copyright © 2020 Agung Anggara. All rights reserved.
Purpose: To search all columns of all tables for a given search string
Written by: Agung Anggara
Site: https://www.agungpanduan.com
Updated and tested by Tim Gaunt
https://medium.com/@agungpanduan/asp-net-create-login-form-using-sql-command-7a59297edb3e
Tested on: SQL Server 2012 & 2016, Visual Studio 2010*@