@{  
    ViewBag.Title = "UserVerification";  
}  
  
<h2>User Verification Process</h2>  
  
<div class="danger alert-danger">  
    <strong>Message..!!</strong>  @ViewBag.Message,  please click here to Login @Html.ActionLink("Login", "Login", "Register")  
</div>

@*Copyright © 2020 Agung Anggara. All rights reserved.
Purpose: To search all columns of all tables for a given search string
Written by: Agung Anggara
Site: https://www.agungpanduan.com
Updated and tested by Tim Gaunt
https://medium.com/@agungpanduan/asp-net-create-login-form-using-sql-command-7a59297edb3e
Tested on: SQL Server 2012 & 2016, Visual Studio 2010*@